
/* Colores */

.My-Color-Theme-1-rgba { color: rgb(216, 73, 21); }
.My-Color-Theme-2-rgba { color: rgb(13, 197, 65); }
.My-Color-Theme-3-rgba { color: rgba(255, 200, 56, 1); }
.My-Color-Theme-4-rgba { color: rgba(255, 255, 253, 1); }
.My-Color-Theme-5-rgba { color: rgba(0, 0, 0, 1); }
.My-Color-Theme-5-rgba { color: #ff304d }
